/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --text-color-light: #707070;
  --background-color: #fafafa;
  --background-color-scnd: #f0efef;
  --body-color: #fcfcfc;
}


/* responsive */
@media screen and (max-width: 968px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    border-radius: 1rem 1rem 0 0;
    z-index: 100;
    transition: 0.3s;
  }
}

@media screen and (max-width: 320px) {
  .nav_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5rem;
  }
}

@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .l-header, .scrolltop {
    display: none;
  }

  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--background-color);
    box-shadow: 0 0 8px rgba(13,12,12,0.15);
  }

  .resume_left {
    background-color: var(--background-color-scnd);
  }

  .resume_left, .resume_right {
    padding: 0 1.5rem;
  }

  .section-title, .profile_description {
    text-align: initial;
  }

  .home_container {
    gap: 1.5rem;
  }

  .home_button {
    display: none;
  }

  .references_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .languages_content {
    grid-template-columns: repeat(3, max-content);
  }

  .interests_container {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }

}

*,::before,::after {

}

html {
  scroll-behavior: smooth;
}

.change-theme {
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--title-color);
}

body.dark-theme {
  --title-color: #fafafa;
  --text-color: #f0efef;
  --text-color-light: #fcfcfc;
  --background-color: #151313;
  --background-color-scnd: #0b0a0a;
  --body-color: #262626;
}

body {
  margin: 0 0 3rem 0;
  padding: 0;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 0.94rem;
  background-color: var(--body-color);
}

.container {
  background-color: var(--background-color);
}

p,h1,h2,h3,ul {
  color: var(--text-color);
  margin: 0;
  color: var(--title-color);
  font-weight: 500;
}

h1, .home_title {
  font-size: 1.5rem;
}

h2, .eduexp_title {
  font-size: 1.25rem;
}

h3, .certref_title {
  font-size: 1rem;
}

p {
  font-size: 0.94rem;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 1.5rem;
}

.section-title {
  font-size: 1.25rem;
  color: var(--title-color);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.nav_logo, .nav_toggle {
  color: var(--title-color);
  font-weight: 500;
}

.nav_toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav_item {
  text-align: center;
}

.nav_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav_link {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: var(--text-color-light);
  font-weight: 500;
}

.nav_link:hover {
  color: var(--title-color);
}

.nav-icon {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.show-menu {
  bottom: 3rem;
}

.active-link {
  color: var(--title-color);

}

.home {
  position: relative;
}

.home-data {
  justify-content: center;
}

.home_container {
  gap: 3rem;
}

.data {
  gap: 0.5rem;

}

.home_data {
  text-align: center;
}

.home_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: 0.5rem;
}

.home_profession {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.home_address {
  gap: 1rem;
  justify-content: center;
}

.home_information {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}

.icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.home_button {
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: 0.3s;
  font-weight: 500;
  margin-top: 1.5rem;
}

.home_button:hover {
  background-color: var(--text-color);
  color: var(--background-color-scnd);
}

.social_container {
  grid-template-columns: max-content;
  gap: 1rem;
}

.social_link {
  display: inline-flex;
  align-items: center;
  font-size: 0.85rem;
  color: var(--text-color);
}

.social_link:hover {
  color: var(--title-color);
}

.profile_description {
  text-align: center;
}

.eduexp_content {
  display: flex;
}

.eduexp_text {
  font-size: 0.85rem;
  color: var(--title-color);
}

.education_year, .references_subtitle {
  font-size: 0.8rem;
}

.skills_content, .languages_content {
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.name {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
  margin-right: 0.75rem;
}

.experience_name {
  color: var(--text-color);
}

.experience_circle {
  background-color: var(--text-color);
}

.certificate_title {
  margin-bottom: 0.5rem;
}

.references_content {
  gap: 0.25rem;
}

.references_subtitle {
  color: var(--text-color-light);
}

.interests_container {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.0rem;
}

.interests_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interests_icon {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--background-color-scnd);
  transition: 0.4s;
}

.scrolltop-icon {
  font-size: 1.2rem;
  color: var(--text-color);
}

.show-scroll {
  visibility: visible;
  bottom: 5rem;
}
